<ul>
    <li>Organizer: <%= @creator.first_name %></li>
    <% @users_list.each do |user| %>
    <li>
        <ul>
          <li><%= user.first_name %></li>
          <li>Level: <%= user.level %></li>
          <li>Rating: <%= user.rating %></li>
        </ul>
    </li>
    <% end %>
</ul>
